*{padding:0;border:0;margin:0;font-family:"Microsoft YaHei","Helvetica",sans-serif; font-style:normal; font-weight:normal; list-style:none; background-color:transparent; appearance:none;border-collapse:collapse; border-spacing:0;text-decoration:none; resize: none;font-size: 14px;color: #333;}
*:focus{outline:none;}
img{display:block;}